.signup-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 464px) {   
    .signup-form{
        width: 400px;
        height: 100vh;
    }
}
@media screen and (max-width: 464px) {   
    .signup-form{
        width: 100vw;
        padding-left: 10px;
        padding-right: 10px;
        height: 100vh;
    }
}
.gmail{
    margin-top: 11px;
    background: #212529 !important;
    color: white;
}
.sign-up-logo{
    width: 150px;
    height: 150px;
}
.email-input{
    margin-bottom: 18px;
}