.swal2-title {
  padding: 0em 1em 0 !important;
}
.seller-title {
  width: 81%;
  height: 100vh;
  transition: width 1s ease-in-out;
  overflow-y: scroll;
}
.seller-cont {
  display: flex;
  height: 100vh !important;
}
@media screen and (max-width: 574px) {
  .seller-title {
    width: 100%;
  }
}
