.swal2-title {
  padding: 0em 1em 0 !important;
}
.seller-title {
  width: 81%;
  height: 100vh;
  transition: width 1s ease-in-out;
}
.seller-cont {
  display: flex;
  height: 100vh !important;
}
@media screen and (max-width: 574px) {
  .seller-title {
    width: 100%;
    background-image: url("../../bg-dash.svg");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -70px;
  }
}
