.logout{
    height: 48px;
    width: 100vw;
    color: rgb(69, 69, 187);
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-block-color: #e3e2e2;
    background: #ffffff;
}
.profile-cont{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.personal{
    margin-top: 74px;
    min-height: 100vh;
}
.drop-cont{
    border-bottom: solid #a5a1a1 0.2px;
}
.drop-title{
    color: black;
}
.drop-title:focus{
    color: black !important;
    border-color: white !important;
    box-shadow: none !important;
}
.drop-det{
    width: 100%;
}
.values{
    padding-left: 16px;
}
.drop-sub-title{
    margin-bottom: 0 !important;
    font-weight: 600;
}