.product-name {
  margin-top: 78px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
.row {
  margin: 0;
}
.add-to-cart-btn {
  border-radius: 1px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-to-cart-btn span {
  margin-right: 10px;
}
.prod-img {
  max-width: 283px !important;
}
.cart-btn {
  width: 283px;
  margin: 5px;
}
.size {
  display: flex;
  justify-content: center;
}
.size div {
  margin: 10px;
}
.err-label {
  width: 283px;
  display: flex;
  background: #dcdada;
  justify-content: center;
  color: red;
  display: none;
}
.bag-btn-icons {
  margin-left: 5px;
  margin-right: 5px;
}
.accordion {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.accordion-item {
  width: 283px;
}
.accordion-button {
  height: 40px;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #ded6c7 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ffffff;
}
.slide {
  font-size: 31px;
}
.form-check-input:checked {
  background-color: #414244;
  border-color: #343638;
}
.accordion-button:not(.collapsed) {
  color: #000000;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  transform: rotate(-180deg);
}
