.products {
  position: relative;
  top: 120px;
  display: flex;
  justify-content: center;
}
.card {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: auto;
}
.card-items {
  padding: 0;
  width: 160px;
}
.card-title {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-weight: 600;
}
.card-text {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.items-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.card-img-top {
  width: 160px;
}
.prod-title {
  text-align: left;
}
.prod-title h5 {
  font-family: "Montserrat", sans-serif;
}
