.App {
  text-align: center;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.row {
  height: auto;
}
.btn {
  border-radius: 0 !important;
}
.btn:active {
  color: white !important;
}
.btn-check:active + .btn-dark,
.btn-check:checked + .btn-dark,
.btn-dark.active,
.btn-dark:active,
.show > .btn-dark.dropdown-toggle {
  border-color: black !important;
}
.footer {
  position: relative;
  bottom: 0;
}
.signedIn{
  display: none !important;
}